.container {
    max-width: 960px;
    margin: 0 auto;
    flex-grow: 1;
    position: relative;
    justify-content: center;
}

.mb-4 {
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    width: auto;
}

.is-size-4 {
    font-size: 1.5rem;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
}

.columns {
    display: flex;
    justify-content: center;
}

.column {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0.75rem;
    flex: none;
    /* width: calc(25% - 1em); */
    width: 12rem;
    transition: transform 0.3s;
}

@media screen and (min-width: 100px) {
    .column {
        display: block;
        flex-basis: 0;
        flex-grow: 1;
        flex-shrink: 1;
        padding: 0.75rem;
        flex: none;
        width: 14rem;
        transition: transform 0.3s;
    }
}

.column:hover {
    transform: scale(1.05);
}

.card-image {
    display: block;
    position: relative;
}

img {
    height: auto;
    max-width: 100%;
}

.hvr-grow {
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    transition-duration: 0.3s;
    transition-property: transform;
}

.logoSet {
    height: auto;
    width: 50%;
}