.buildText {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    color: white;
    font-size: 30vw;
    z-index: 0;
}

@keyframes fall1 {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    100% {
        transform: translateY(800px) rotate(15deg);
    }
}

@keyframes fall2 {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    100% {
        transform: translateY(600px) rotate(-33deg);
    }
}

@keyframes fall3 {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    100% {
        transform: translateY(700px) rotate(-20deg);
    }
}

.card2 {
    margin: 2vw;
    transition: background-color 0.3s ease;
    position: relative;
    z-index: 1;
}

.pokemonCardSet {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100vh;
}


.pokemonCard1 {
    animation: fall1 2s ease 0.4s forwards;
    position: absolute;
    top: -58%;
    left: 18%;
    width: 8vw;
    height: auto;
}

.pokemonCard2 {
    animation: fall2 2s ease 0.4s forwards;
    position: absolute;
    top: -65%;
    left: 38%;
    width: 12vw;
    height: auto;
}

.pokemonCard3 {
    animation: fall3 2s ease 0.3s forwards;
    position: absolute;
    top: -65%;
    left: 66%;
    width: 10vw;
    height: auto;
}

.Account {
    margin-top: 1rem;
    background-color: #FFB700;
    padding: 5px 25px;
    cursor: pointer;
    border: none;
    text-transform: capitalize;
    border-radius: 5px;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.subText {
    margin-top: 0rem;
    color: #CED2E1;
    font-size: .8.5rem;
    max-width: 40vw;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}