.mainNav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1a202c;
    padding: 2rem 3rem 2rem 3rem;
    z-index: 20;
}

.mainNavLinks {
    display: flex;
    gap: 20px;
}

.mainNavLinks>div {
    display: inline-block;
}

.left {
    display: inline-block;
}

.whiteLink {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}



/* =========== */

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    color: white;
}

/* Styling for the left element (name) */
.navbar-left {
    font-weight: bold;
    margin-left: 10px;
}

/* Styling for the right elements */
.navbar-right {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

/* Styling for individual right elements */
.navbar-element {
    margin-left: 20px;
    cursor: pointer;
}